name: Continuous integration
on:
  push:
    branches: [ '**' ]
    tags: v*.*.*
  pull_request:
    branches: [ '**' ]
  schedule:
    - cron: '0 2 * * *'
jobs:
  Runner:
    runs-on: ${{ matrix.ci-type.os }}
    strategy:
      fail-fast: false
      matrix:
        ci-type: [
          {os: "windows-latest", arch: "x64"},
          {os: "macos-latest", arch: "x64"},
          {os: "ubuntu-latest", arch: "x64"},
        ]
        node-version: [ 8, 9, 10, 11, 12, 13, 14, 15, 16, 17 ]
    steps:
    - name: Checkout Git Source
      uses: actions/checkout@master

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1
      if: ${{ matrix.ci-type.os == 'windows-latest' }}

    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: npm i -g npminstall && npminstall

    - name: Continuous Integration
      run: npm run ci || (sleep 60 && npm run ci) || (sleep 60 && npm run ci)

    - name: Package Binary
      run: npm run pack

    - name: Draft Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: release/**
        fail_on_unmatched_files: true
        draft: true